<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to boardgames_path, class: "navbar-brand" do %>
    <%= image_tag "https://pngimage.net/wp-content/uploads/2018/06/gb-png-7.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="form-inline mr-5px ">
    <%=render "/shared/searchform"%>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="form-inline mr-auto ">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <i class="far fa-user-circle fa-2x mr-2" class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log In", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "My Dashboard", dashboard_path, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
