
<div class="banner">
  <div class="grid-container">
    <nav class="slide-down">
    </nav>
    <div></div>
    <div class="banner-text">
      <h1><span class="reveal">Let's have fun With our<br/></span> <span class="reveal-2"><%= link_to "▶️Boardgames", boardgames_path, class:"size"  %></span></h1>
    </div>
    <div class="blurred-container">

    </div>
  </div>
</div>

	<div class="row-home">
<div class="container">
  <h1 class="h1-home">Last recent games</h1>
		<div class="col-6 m-4">
			<div class="cards-home">
				<% @boardgames.each do |boardgame| %>
					<%= link_to boardgame_path(boardgame) do %>
						<div class="card-home" data-boardgame-id="<%= boardgame.id %>">
								<% if boardgame.photos.attached? %>
								  <%= cl_image_tag boardgame.photos.first.key, crop: :fill, width: 332, height: 236 %>
								<% end %>
							<div class="description">
								<p class="description-category"><%= boardgame.category.upcase! %></p>
								<h4><%= boardgame.name %></h4>
								<p class="players"><%= boardgame.players %> <i class="fas fa-user-friends"></i></p>
								<p class="price"><strong><%= boardgame.price.to_i %> €</strong> / day</p>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>



	<div class="row-home-2">
<div class="container">
  <h1 class="h1-home-2"> Categories</h1>
		<div class="col-6 m-4">
			<div class="cards-home-category">
        <div class="card-category card--15">
          <h2 class="card__title">Dice game</h2>
          <img class="card__img-1" src="https://images.unsplash.com/photo-1570303345338-e1f0eddf4946?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=965&q=80" alt="">
          <a class="card__btn" href="" class="">Look</a>
        </div>
			
        <div class="card-category card--15">
          <h2 class="card__title">Cards game</h2>
          <img class="card__img-1" src="https://images.unsplash.com/photo-1561892699-a132d015e9c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80" alt="">
          <a class="card__btn" href="" class="">Look</a>
        </div>
			
        <div class="card-category card--15">
          <h2 class="card__title">Board Game</h2>
          <img class="card__img-1" src="https://images.unsplash.com/photo-1606167668584-78701c57f13d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="">
          <a class="card__btn" href="" class="">Look</a>
        </div>

			</div>
		</div>
	</div>
</div>
</div>