<div class="main-container-index container-xxl">
	<div class="row">
		<div class="col-6 m-4">
			<h3 class="index-title row d-flex flex-column">
				Board games close to your localisation:
			</h3>
			<div class="cards-index">
				<% @boardgames.each do |boardgame| %>
					<%= link_to boardgame_path(boardgame) do %>
						<div class="card-index">
								<% if boardgame.photos.attached? %>
								  <%= cl_image_tag boardgame.photos.first.key, crop: :fill, width: 332, height: 236 %>
								<% end %>
							<div class="description">
								<p class="description-category"><%= boardgame.category.upcase! %></p>
								<h4><%= boardgame.name %></h4>
								<p class="players"><%= boardgame.players %> <i class="fas fa-user-friends"></i></p>
								<p class="price"><strong><%= boardgame.price.to_i %> €</strong> / day</p>
								<%= image_tag "lenon", :class => "img-circle-index-a" %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<!--<div class="map-container col-5">-->
		<div id="map"
     		style="width: 100%;"
     		data-markers="<%= @markers.to_json %>"
     		data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
	</div>
</div>