<div class="container-xxl">
	<div class="row">
		<div class="col-7 m-4">
			<div class="row d-flex flex-column mb-4">
				<p>+ <%= @boardgames.count %> boardgames</p>
				<h3>Boardgames close to your localitation:</h3>
			</div>
			<div class="cards">
				<% @boardgames.each do |boardgame| %>
					<div class="card d-flex">
						<div class="img" style="width: 180px, height: 180px">IMG</div>
						<div class="description text-center">
							<h4><%= boardgame.name %></h4>
							<hr>
							<p><%= boardgame.category %></p>
							<p class="players"><%= boardgame.players %> <i class="fas fa-user-friends"></i></p>
							<p class="text-center"><strong><%= boardgame.price.to_i %>€</strong> / week</p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="map-container col-5">MAP</div>
	</div>
</div>